<ion-header>
  <ion-navbar>
    <ion-title>Juego</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
 

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	
</head>
<body>
	<h1>Trivia</h1>
	<p id="score"></p>
	<!-- <div class="diamond"></div> -->
	<div class="wrapper" id="wrapper">
		<div id="content">
			<!--<p class="must">(Debe elegir una respuesta)</p>-->
			<h2 id="num"></h2>
			<h3 id="question" >{{preg}}</h3>
				
			<div id="choices" >
			{{resp1}}
			<input type="radio"  name="resp" [(ngModel)]="eleccion" value="resp1" />
			<br>
			{{resp2}} 
			<input type="radio"  name="resp" [(ngModel)]="eleccion" value="resp2"/>
			<br>
			{{resp3}}
			<input type="radio"  name="resp" [(ngModel)]="eleccion" value="resp3"/>
			
			</div>
			
			<button id="submit" (click)="Enviar()" >Enviar</button>
			<br><br>
			<label *ngIf="correcto=='CORRECTO'" style='font-size: 20pt; font-weight: bold; color: green; text-align: center;'>{{correcto}}!!</label>
			<label *ngIf="correcto=='INCORRECTO'" style='font-size: 20pt; font-weight: bold; color: red; text-align: center;'>{{correcto}}!!</label>
			<!-- <p id="score"></p> -->
		</div>
	</div>


	
</body>

</ion-content>
