<ion-header>
  <ion-navbar>
    <ion-title>
      Partidas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event);">
    <ion-refresher-content 
      pullingText="Pull to refresh"
      pullingIcon="arrow-dropdown"
      refreshingSpinner="circles"
      refreshingText="..cargando">
    </ion-refresher-content>
 </ion-refresher>
 

<head>
<script src="//ajax.googleapis.com/ajax/libs/mootools/1.5.0/mootools-yui-compressed.js"></script>
<script src="//jashkenas.github.io/underscore/underscore-min.js"></script>
<script src="//code.jquery.com/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
  
  <meta charset="utf-8">
  <title>Last Task </title>   
</head>
<body >
  <div class="container-fluid" >
    <div class="row">
     
      <div class="col-md-3" style=" width: 100%;background:cornsilk;overflow: scroll;">
        <button (click)=Actualizar()>
            Actualizar
          </button>
        <section style="overflow-y: scroll;overflow-x: scroll;">
          
          <table id="mytable" class="table table-hover table-bordered" >
            <tr style=" width: 100%;background:lightpink;">
              <th style='font-size: 15pt; font-weight: bold; color: green; text-align: center;'>Empatados</th>
              <th class="avarage" style='font-size: 15pt; font-weight: bold; color: green; text-align: center;' >Perdidos</th>
              <th class="calendar" style='font-size: 15pt; font-weight: bold; color: green; text-align: center;'>Ganados</th>
            </tr>
            <tr *ngFor="let item of items">
              <td class="studs" *ngIf="item.partida=='Empato'" >{{item.nombre}}-{{item.fecha}}</td>
              <td class="average" *ngIf="item.partida=='Perdio'" >{{item.nombre}}-{{item.fecha}}</td>
              <td class="score" *ngIf="item.partida=='Gano'" style='text-align:center;' >{{item.nombre}}-{{item.fecha}}</td>
            </tr>  
          </table>
          
       </section>  
        
      </div>
    </div>
  </div>

</body>


</ion-content>

